<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
<main>
  <div>
    <h1>Ég heiti Birgir og ég er forritari</h1>
    <h2>Hér eru hlutir sem ég hef smíðað:</h2>
    <ul>
      <li><a href="https://timer.birgirs.com">Timer</a></li>
    </ul>
  </div>
</main>
</body>
</html>